<!DOCTYPE html>
<html>
<head>
	<title>Current Database</title>
	<body style="background-color:rgb(0, 173, 238);"/>
	<h2 style="text-align:center;font-size:300%;font-family:Courier;"> Current Data</h2>
	<p style="font-size:130%;font-family:Courier;">Below are all the Keys currently stored in the Database:</p>
	<p style="color:forestgreen;font-size:110%;font-family:Courier">{{ key_data_db }}</p>
    <p style="font-size:130%;font-family:Courier;">Below are all the Keys currently stored in the Mem-Cache:</p>
	<p style="color:forestgreen;font-size:110%;font-family:Courier">{{ key_data_mc }}</p>
	<br><br>
	<br><a style="font-family:Courier;margin-right: 20px;" href="home_page" target="_self">Back to Home Page</a><br><br>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
        .row {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
		color: white;
		font-size: 20px;
		margin-left: 20px;
		font-family: Courier;
	}

	a:hover {
		color: rgb(130, 130, 130);
	}
</style>
</head>
<body>
</body>
</html>