<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
	<body style="background-color:rgb(179, 95, 210);"/>
	<h2 style="text-align:center;font-size:300%;font-family:Courier;">Success</h2>
	<br><br>
	<p style="color:rgb(52,203,52);text-align:center;font-size:110%;font-family:Courier;">{{ message }}</p>
	<br><br>
	<a style="font-family:Courier;text-align:center;" href="home_page" target="_self">Back to Home Page</a>
	<style>
		body {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
    	a {
		text-decoration: none;
		color: white;
		font-size: 20px;
		margin-top: 20px;
		font-family:Courier;
	    }

	a:hover {
		color: black;
	}

</style>
</head>
</html>